/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { min-height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { position: relative; font-size: 12px; font-family: "Roboto", "sans-serif"; line-height: 1.4; *zoom: 1; }
body:after { content: " "; display: table; clear: both; }

.wrapper { margin: 0 auto; width: 1200px; }

.header { position: fixed; top: 0; left: 0; height: 59px; width: 100%; z-index: 400; background-color: #1d1d1d; background: rgba(29, 29, 29, 0.8); }

.btn { position: relative; cursor: pointer; background: #ad2a1e; }

.btn_top:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -5px 0 0 -8px; background: url('../img/icons-s3dacebf175.png') 0 -186px no-repeat; width: 16px; height: 10px; }

.btn_bot { background: #1d1d1d; }
.btn_bot:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -5px 0 0 -8px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); background: url('../img/icons-s3dacebf175.png') 0 -186px no-repeat; width: 16px; height: 10px; }

.footer { position: absolute; left: 0; bottom: 0; padding: 0 15px 0 20px; height: 59px; width: 100%; color: #a4a4a4; font-weight: 300; line-height: 59px; vertical-align: middle; z-index: 200; background-color: #1d1d1d; background: rgba(29, 29, 29, 0.8); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.footer__nav { float: left; }
.footer__nav li { padding: 0 11px; display: inline-block; }
.footer__nav li:first-child { margin-right: 75px; padding-right: 22px; cursor: pointer; }
.footer__nav li:first-child i { margin-left: 10px; font-size: 16px; line-height: 0; font-style: normal; vertical-align: middle; display: inline-block; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
.footer__nav li a { color: #a4a4a4; text-decoration: none; font-weight: 300; }
.footer__nav li a:hover { text-decoration: underline; }

.footer__copy { float: right; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header__nav { font-family: "Roboto Condensed", "sans-serif"; text-align: center; font-size: 0; }
.header__nav li { position: relative; height: 59px; color: white; font-size: 14px; vertical-align: top; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__nav li.is-active a { background: url("../img/ac-bg.png"); }
.header__nav li a { padding: 0 16px 0; height: 100%; color: white; font-size: 14px; text-transform: uppercase; text-decoration: none; font-weight: 400; line-height: 59px; vertical-align: middle; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__nav li a:hover { background: url("../img/ac-bg.png"); }

.header__logo { width: 278px; }
.header__logo a { padding: 0; }
.header__logo .btn_top { position: absolute; bottom: -89px; left: 50%; width: 50px; height: 20px; margin-left: -25px; }
.header__logo .btn_bot { position: absolute; bottom: -213px; left: 50%; width: 50px; height: 20px; margin-left: -25px; display: none; }
.header__logo .header__logo_1 { position: absolute; left: 0; top: 0; bottom: -70px; width: 278px; height: 128px; overflow: hidden; z-index: 2; background: url("../img/logo.png") no-repeat 50% 0; -webkit-box-shadow: 0 1px 12px black; -moz-box-shadow: 0 1px 12px black; box-shadow: 0 1px 12px black; }
.header__logo .header__logo_1:hover { background: url("../img/logo.png") no-repeat 50% 0; }
.header__logo .header__shop { position: absolute; z-index: 200; top: 128px; left: 0; height: 124px; width: 278px; display: inline-block; display: none; background: url("../img/logo2.png") no-repeat 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.header__phone { padding-left: 16px; line-height: 59px; vertical-align: text-bottom; }
.header__phone span { font-size: 24px; font-weight: 300; line-height: 39px; }

.cycle { position: relative; min-width: 1200px; font-family: "Roboto Condensed", "sans-serif"; }

.cycle__item { width: 100%; min-height: 100%; }
.cycle__item img { width: 100%; }

.cycle__nav { position: absolute; top: 50%; margin-top: -54px; z-index: 200; background: url('../img/icons-s3dacebf175.png') 0 -30px no-repeat; width: 57px; height: 108px; }

.cycle__nav_prev { left: 28px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.cycle__nav_next { right: 28px; }

.cycle__index { position: absolute; min-width: 145px; background-color: black; background: rgba(0, 0, 0, 0.6); *zoom: 1; }
.cycle__index:after { content: " "; display: table; clear: both; }
.cycle__index:before { position: absolute; content: ""; top: -3px; left: -3px; width: 132px; height: 3px; background: #ad2a1e; }
.cycle__index:after { position: absolute; content: ""; top: 0px; left: -3px; height: 45.5px; width: 3px; background: #ad2a1e; }
.cycle__index a { padding: 13px 30px 13px 18px; font-size: 14px; text-transform: uppercase; font-weight: 700; color: white; text-decoration: none; display: inline-block; }
.cycle__index .cycle__marc { position: absolute; right: -34px; bottom: -30px; width: 49px; height: 49px; z-index: 200; cursor: pointer; background: #ad2a1e; }
.cycle__index .cycle__marc:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -10.5px 0 0 -10.5px; background: url('../img/icons-s3dacebf175.png') 0 -206px no-repeat; width: 21px; height: 21px; }
.cycle__index .cycle__marc i { position: absolute; top: 50%; left: 50%; margin: -1.5px 0 0 -10.5px; z-index: 200; display: none; background: url('../img/icons-s3dacebf175.png') 0 -237px no-repeat; width: 21px; height: 3px; }
.cycle__index .cycle__marc:hover { z-index: 201; }
.cycle__index .cycle__marc:hover:before { display: none; }
.cycle__index .cycle__marc:hover i { display: block; }
.cycle__index .cycle__marc:hover + .cycle__cont { display: block; }

.header__shop { position: relative; line-height: 124px; }
.header__shop .cycle__item { height: 124px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__shop .cycle__item img { vertical-align: middle; }

.cycle__but { position: absolute; z-index: 300; top: 50%; margin-top: -14px; background: url('../img/icons-s3dacebf175.png') 0 -148px no-repeat; width: 16px; height: 28px; }

.cycle__but_pre { left: 13px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.cycle__but_nex { right: 13px; }

.cycle__index1 { top: 32%; left: 15%; }

.cycle__index2 { top: 33%; left: 43%; }

.cycle__index3 { top: 33%; left: 70%; }

.cycle__index4 { top: 48%; left: 27%; }

.cycle__index5 { top: 48%; left: 52%; }

.cycle__cont { position: absolute; padding-bottom: 54px; left: 0; bottom: -30px; right: -34px; color: white; z-index: 200; background-color: black; background: rgba(0, 0, 0, 0.8); display: none; }
.cycle__cont:hover { display: block; }
.cycle__cont:before { position: absolute; content: ""; top: -3px; left: -3px; width: 132px; height: 3px; background: #ad2a1e; }
.cycle__cont:after { position: absolute; content: ""; top: 0px; left: -3px; bottom: 30px; width: 3px; background: #ad2a1e; }
.cycle__cont p { padding: 10px 12px 0 18px; }

.cycle__title { padding: 13px 30px 13px 18px; font-size: 14px; text-transform: uppercase; font-weight: 700; background: black; }
